<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headfront">
<meta charset="utf-8" />
<meta content="width=device-width, initial-scale=1.0" name="viewport" />

<title>Safe Shop</title>
<meta content="" name="descriptison" />
<meta content="" name="keywords" />

<!-- Favicons -->
<link href="/assets/img/favicon.png" rel="icon" />
<link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

<!-- Google Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
	rel="stylesheet" />

<!-- Vendor CSS Files -->
<link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/assets/vendor/icofont/icofont.min.css" rel="stylesheet" />
<link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
<link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
<link href="/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet" />
<link href="/assets/vendor/animate.css/animate.min.css" rel="stylesheet" />
<link href="/assets/vendor/aos/aos.css" rel="stylesheet" />

<!-- Template Main CSS File -->
<link href="/assets/css/style.css" rel="stylesheet" />
</head>

<header id="header" class="fixed-top" th:fragment="headerfront">
      <div class="container d-flex align-items-center">
        <h1 class="logo mr-auto"><a href="/">Safe Shop</a></h1>

        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/emergency/formfront">Emergencia</a></li>
            <li><a href="/helprequest/formfront">Registrar</a></li>
            <li><a href="/about">Nosotros</a></li>
<!--             <li><a href="/contact">Contactanos</a></li> -->
          </ul>
        </nav>
        <!-- .nav-menu -->
      </div>
</header>

<footer id="footer" th:fragment="footerfront">

	<div class="footer-top">
		<div class="container">
			<div class="row">

				<div class="col-lg-3 col-md-6 footer-contact">
					<h3>Safe Shop</h3>
					<p>
						San Martin 1873 <br> Mendoza, 5500<br> Argentina <br> <br> <strong>Telefono:</strong> +54 261 455 6677<br>
						<strong>Email:</strong> Madresdepiemendoza@gmail.com<br>
					</p>
				</div>

				<div class="col-lg-2 col-md-6 footer-links">
					<h4>Links de Utilidad</h4>
					<ul>
						<li><i class="bx bx-chevron-right"></i> <a href="/index">Home</a></li>
						<li><i class="bx bx-chevron-right"></i> <a href="/about">Nosotros</a></li>
					</ul>
				</div>

				<div class="col-lg-3 col-md-6 footer-links">
					<h4>Nuestros Servicios</h4>
					<ul>
						<li><i class="bx bx-chevron-right"></i> <a href="#">Ventas Seguras</a></li>
						<li><i class="bx bx-chevron-right"></i> <a href="/helprequest/emergency">Asistencia Inmediata</a></li>
						<li><i class="bx bx-chevron-right"></i> <a href="https://www.facebook.com">Asesoramiento</a></li>
					</ul>
				</div>

			</div>
		</div>
	</div>

	<div class="container d-md-flex py-4">

		<div class="mr-md-auto text-center text-md-left">
			<div class="copyright">
				&copy; Copyright <strong><span>Gonzalitos</span></strong>. All Rights Reserved
			</div>
			<div class="credits">
				Designed by <a href="https://bootstrapmade.com/">Gonzalitos</a>
			</div>
		</div>
		<div class="social-links text-center text-md-right pt-3 pt-md-0">
			<a href="https://www.facebook.com" class="facebook"><i class="bx bxl-facebook"></i></a>
		</div>
	</div>
</footer>

</html>