<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head>
</head>
<body>

	<aside class="main-sidebar" th:fragment="menu">
		<!-- sidebar: style can be found in sidebar.less -->
		<section class="sidebar">
			<!-- Sidebar user panel -->
			<div class="user-panel" style="display: block;">
				<div class="pull-left image">
					<img src="/backend/img/avatar.png" class="img-circle" alt="User Image" />
				</div>
				<div class="pull-left info">
					<p th:text="${session.user != null ? (session.user.name  + ' ' + session.user.lastName ): '' }"></p>
					<a href="#"> <i class="fa fa-circle text-success"></i> Online
					</a>
				</div>
			</div>

			<!-- sidebar menu: : style can be found in sidebar.less -->
			<ul class="sidebar-menu" data-widget="tree">
				<li style="text-align: center; vertical-align: middle; margin-top: 15px;"
					th:text="${session.usuario != null ? (session.usuario.nombre  + ' ' + session.usuario.apellido ): '' }"></li>

				<hr style="margin-top: 10px; margin-bottom: 5px;" />

				<li ><a th:href="@{/resume/list}"> <i
						class="fa fa-address-card"></i> <span>CV</span>
				</a></li>

				<li ><a th:href="@{/project/list}"> <i
						class="fa fa-desktop" ></i> <span>Projects</span>
				</a></li>

				<li ><a th:href="@{/technology/list}"> <i
						class="fa fa-wrench"></i> <span>Technologies</span>
				</a></li>

				<li ><a th:href="@{/skill/list}"> <i
						class="fa fa-assistive-listening-systems"></i> <span>Skills</span>
				</a></li>

				<li ><a th:href="@{/hobby/list}"> <i
						class="fa fa-bicycle"></i> <span>Hobbies</span>
				</a></li>

				<li ><a th:href="@{/experience/list}"> <i
						class="fa fa-hands-helping"></i> <span>Experience</span>
				</a></li>

				<li ><a th:href="@{/company/list}"> <i
						class="fa fa-university"	></i> <span>Companies</span>
				</a></li>
				
<!-- 				<li th:if="${#authorization.expression('hasRole(''ADMIN'')')}"><a th:href="@{/company/list}"> <i -->
<!-- 						class="fa fa-university"	></i> <span>Empresas</span> -->
<!-- 				</a></li> -->

			</ul>
		</section>
	</aside>

</body>
</html>