<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fronttemplates :: headfront"></head>

<body>

	<div class="wrapper">

		<main id="main">

		<div class="breadcrumbs" data-aos="fade-in">
			<div class="container">
				<h2>Login</h2>
			</div>
		</div>

		<!-- ======= Contact Section ======= -->
		<section id="contact" class="contact">
			<div class="container" data-aos="fade-up">
				<div class="row mt-5 justify-content-center align-items-center">
					<div class="col-lg-6 mt-5 mt-lg-0">
						<form action="/logincheck" method="POST" role="form" enctype="multipart/form-data">
							<div class="form-row">
								<div class="col-md-6 form-group">
									<input type="text" name="email" class="form-control" id="email" placeholder="e-Mail" data-rule="minlen:4"
										data-msg="Por favor, ingrese al menos 4 letras" />
									<div class="validate"></div>
								</div>
								<div class="col-md-6 form-group">
									<input type="password" name="password" class="form-control" id="password" placeholder="Clave" data-rule="minlen:4"
										data-msg="Por favor, ingrese al menos 4 letras" />
									<div class="validate"></div>
								</div>
							</div>

							<div class="text-center">
								<!-- 								<button class="btnwhite" value="Submit" style="float: left;">INGRESAR</button> -->
								<button type="submit">INGRESAR</button>

							</div>
						</form>
					</div>
				</div>
			</div>
		</section>

	</div>
</body>
</html>