<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
</head>

<body class="hold-transition skin-blue-light sidebar-mini">

	<div class="wrapper">

		<div th:replace="fragments/header :: header">...</div>
		<div th:replace="fragments/menu :: menu">...</div>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header" th:utext="${title}">
			</section>

			<!-- Main content -->
			<section class="content">

				<!-- Default box -->
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title" style="margin-top: 10px;" th:text="${subTitle}"></h3>
					</div>
					<div class="box-body">

						<div th:if="${error != null}" class="alert alert-danger" role="alert">
							<strong>¡Error!</strong> <span th:text="${error}">error</span>
						</div>

						<div th:if="${action == 'eliminar'}" class="alert alert-danger" role="alert">
							<strong>¡Alto!</strong> ¿Se encuentra seguro de que desea proceder con la eliminación de la Tecnolog&eacute;a?
						</div>

						<div th:if="${action == 'recuperar'}" class="alert alert-danger" role="alert">
							<strong>¡Alto!</strong> ¿Se encuentra seguro de que desea proceder con la recuperación de la Tecnolog&eacute;a?
						</div>

						<form class="vertical-form" id="formulario" method="POST" th:action="@{/technology/} + ${action == null or action == 'update' ? 'save' : action}" th:object="${technology}">

							<input type="hidden" class="form-control" th:field="*{id}" th:value="*{id}" />
							
							<div class="form-group">
								<label for="nombre">Nombre</label>
								<input type="text" class="form-control" id="name" placeholder="Ingrese el nombre de la Tecnologia" th:field="*{name}" th:value="*{name}" th:disabled="${action == 'delete'}" />
							</div>
							
							<div class="form-group">
								<input type="file" class="form-control" id="name" placeholder="Ingrese el nombre de la Tecnologia" th:field="*{name}" th:value="*{name}" th:disabled="${action == 'delete'}" />
							</div>
							
							<div class="form-group slidecontainer">
								<label for="nameAggressor">Porcentaje de Conocimiento</label>
								<input type="range" default="0" min="0" max="100" data-rangeSlider class="slider" id="percent" placeholder="Colocar el porcentaje de dominio con la Tecnologia" th:field="*{percent}" th:value="*{percent}" th:disabled="${action == 'delete'}" style="width: 17%;" />
							</div>

							<div class="form-group">
								<label for="typesOfViolences">Descripci&oacute;n</label>
								<textarea class="form-control" id="description" th:field="*{description}" th:value="*{description}" rows="5" th:disabled="${action == 'delete'}"></textarea>
							</div>

						</form>

						<button type="submit" class="btn btn-danger" form="formulario" th:if="${action == 'delete'}">Eliminar</button>
						<button type="submit" class="btn btn-success" form="formulario" th:if="${action == null or action == 'save'}">Guardar</button>
						<button type="submit" class="btn btn-primary" form="formulario" th:if="${action == 'update'}">Actualizar</button>

						<a th:href="@{/technology/list}">
							<button type="button" class="btn btn-default">Cancelar</button>
						</a>
					</div>
				</div>

			</section>
		</div>
		<div th:replace="fragments/footer :: footer">...</div>
	</div>
	</body>
</html>